/* For Navigation Bar*/
ul{
    list-style-type: none;
    background-color: black;
    font-family: cursive;
    width: fit-content;
    text-align: center;
    margin: 0px;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    right:100px;
    top:30%;
    border: 2px solid whitesmoke;
}
i.material-icons{
    color: whitesmoke;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
body{
    border:0;
    margin:0;
}
/* for background scroll effect*/
.bg{
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    display: table;
}
.img1{
    background-image: url("Information/bg1.jpg");
}
.img2{
    background-image: url("Information/education.jpg");
}
.img3{
    background-image: url("Information/hobbies.jpg");
}
.img4{
    background-image: url("Information/ambitions.jpeg");
}
body, html , .wrapper{
    height: 100%;
}
.scroll{
    background-color: black;
    padding: 150px;
}
/* Home Information*/
img{
    border-radius: 250px;
    width : 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
}
h2{
    background-color: rgba(0,0,0,0.0);
    padding: 20px;
    font-size: 50px;
    font-family: fantasy;
    color:whitesmoke;
    border: 5px solid white;
    border-radius: 10px;
}
.info{
    width : fit-content;
    margin-left: 100px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.info p{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: monospace;
}
/* Education */
.edu_details{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 900px;
}
th, td{
    padding: 10px;
    text-align: left;
    color: whitesmoke;
}
#Contact_Me{
    background-color: black;
    color:whitesmoke;
    padding: 200px;
}
footer{
    text-align: center;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}
