/* For Navigation Bar*/
ul{
    list-style-type: none;
    background-color:red;
    font-family: cursive;
    width: fit-content;
    text-align: center;
    margin: 0px;
    padding: 20px;
    position:fixed;
    border-radius: 10px;
    right:100px;
    top:30%;

}
i.material-icons{
    color:black;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* for background scroll*/
body{
    background-image: url("");
}